beautifulsoup4==4.12.3
lxml==5.2.1
requests==2.31.0
urllib3==2.2.1
dnspython==2.6.1
certifi==2024.2.2
selenium==4.19.0
IP2Location==8.10.2
docker==7.0.0
Pillow==10.3.0
OpenCV-Python==4.9.0.80
Numpy==1.26.4
cryptography==42.0.5
pylint==3.1.0