beautifulsoup4==4.12.3
lxml==5.2.2
requests==2.32.3
urllib3==2.2.2
dnspython==2.6.1
certifi==2024.6.2
selenium==4.23.1
IP2Location==8.10.2
Pillow==10.3.0
OpenCV-Python==4.10.0.82
Numpy==1.26.4
cryptography==42.0.8
pylint==3.2.5
packaging==24.1
