name: "Regression Test - Accessibility (Pa11y) Test"
on:
  push:
    paths-ignore:
      - '**.md'
      - 'software-full.json'
      - 'software-sources.json'
      - '**update-software.yml'
      - 'update_software.py'
      - 'SAMPLE-software-rules.json'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
            matrix:
                # os: [ubuntu-latest, windows-latest]
                os: [ubuntu-20.04, windows-latest]
                version: [18]
                config: ['REVIEW_SHOW_IMPROVEMENTS_ONLY=True']
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
    - name: Setup dependencies using pip
      run: pip install -r requirements.txt
    - name: Setup node
      uses: actions/setup-node@v4
    - name: Setup Pa11y CI npm package
      run: npm install pa11y
    - name: Setup config (using SAMPLE-config.py as config.py)
      run: python .github/workflows/verify_result.py -c ${{ matrix.config }}
    # Havn't yet been able to start Google Chrome in headless mode in pa11y since move to Chrome in Pa11y 5
    - if: ${{ matrix.os == 'ubuntu-20.04' }}
      name: RUNNING TEST - LINUX
      run: |
         python default.py -t ${{ matrix.version }} -r -i sites.json -o .github/workflows/testresult-${{ matrix.version }}.json
         python .github/workflows/verify_result.py -t ${{ matrix.version }}
    - if: ${{ matrix.os == 'windows-latest' }}
      name: RUNNING TEST - WINDOWS
      run: |
         python default.py -t ${{ matrix.version }} -r -i sites.json -o .github\workflows\testresult-${{ matrix.version }}.json
         python .github\workflows\verify_result.py -t ${{ matrix.version }}
