name: "Regression Test - Verify Translation(s)"
on:
  push:
    paths-ignore:
      - '**.md'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
            matrix:
                os: [windows-latest]
                #os: [ubuntu-latest, windows-latest]
    steps:
    - name: Check out repository code
      uses: actions/checkout@v3
    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
    - name: Setup dependencies using pip
      run: pip install -r requirements.txt
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: Verifing Translation(s) - LINUX
      run: python .github/workflows/verify_result.py -l
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Verifing Translation(s) - WINDOWS
      run: python .github\workflows\verify_result.py -l
    - if: ${{ matrix.os == 'windows-latest' }}
      name: Git Add any changes to Translation(s) - WINDOWS
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email '7h3Rabbit@users.noreply.github.com'
        git add locales/
        git commit -m "Add changed Translation(s) if any"
        git push