name: "Regression Test - Standard files Test"
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - '**software-full.json'
      - '**software-sources.json'
      - '**update-software.yml'
      - '**update_software_helper.py'
      - '**software-rules.json'
      - 'Dockerfile'
      - '**regression-test-404.yml'
      - '**regression-test-a11y-statement.yml'
      - '**regression-test-css.yml'
      - '**regression-test-docker-image.yml'
      - '**regression-test-email.yml'
      - '**regression-test-energy-efficiency.yml'
      - '**regression-test-google-lighthouse-based.yml'
      - '**regression-test-html.yml'
      - '**regression-test-http.yml'
      - '**regression-test-lint-css.yml'
      - '**regression-test-pa11y.yml'
      - '**regression-test-sitespeed-browsertime-har.yml'
      - '**regression-test-sitespeed.yml'
      - '**regression-test-software.yml'
      - '**regression-test-tracking.yml'
      - '**regression-test-translations.yml'
      - '**regression-test-webbkoll.yml'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                version: [9]
    steps:
    - name: Check out repository code
      uses: actions/checkout@v6
    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13' # Version range or exact version of a Python version to use, using SemVer's version range syntax
        architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
    - name: Setup dependencies using pip
      run: pip install -r requirements.txt
    - if: ${{ matrix.os == 'ubuntu-latest' }}
      name: RUNNING TEST - LINUX
      run: |
         python default.py -t ${{ matrix.version }} -r -i defaults/sites.json -o data/testresult-${{ matrix.version }}.json
         python .github/workflows/verify_result.py -t ${{ matrix.version }}
    - if: ${{ matrix.os == 'windows-latest' }}
      name: RUNNING TEST - WINDOWS
      run: |
         python default.py -t ${{ matrix.version }} -r -i defaults\sites.json -o data\testresult-${{ matrix.version }}.json
         python .github\workflows\verify_result.py -t ${{ matrix.version }}
